.navigation-bar {
    
    position: fixed;
    display: flex;  

    justify-content: space-between;  
    width: var(--gridwidth);
    height: var(--navbarheight);
    bottom: 0;
}

.navigation-icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-box-text{
    font-size: 12px;
    color: white;
}

.active-navigation-box path{
    fill: var(--mainorange) !important;
}

